@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a, .site-header img , .site-header p{
    color: #a1a0a0;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.flex-equal>* {
    flex: 1;
}

#success-button a:hover, #success-button a:focus, #success-button a:active, #success-button a:visited, #success-button a:link {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}
